
@import 'base/vars';
@import 'base/reset';
@import 'components/header';
@import 'components/navbar';
@import 'components/footer';
@import 'components/button';
@import 'layouts/index.scss';
@import 'layouts/catalogo.scss';
@import 'layouts/contacto.scss';
@import 'layouts/nosotros.scss';
@import 'layouts/temporada.scss';
















/* Index */

.divLogo {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 252, 252);
    
}

.logo {
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;


}

.body {
    background-color: #ffffff;
}
    










/* Temporada */



/* Nosotros */


/* Contacto */


/* Navbar Responsive New */


.navbar {
    justify-content: flex-end;
}

