.text-content {
    text-align: center;
    margin: 10px 10px;
}

.text-content p {
    text-align: center;
    margin: 10px 10px;
}

.ubicación-content h2 {
    text-align: center;
}

.maps {
    margin: 20px 40%
}

.maps iframe {
    width: 100%;
    height: 300px;
}

.temporada-content h1 {
    text-align: center;
    margin: 10px 10px;
}

.temporada-content h3 {
    text-align: center;
    margin: 10px 10px;
}

.temporada-content p {
    text-align: center;
    margin: auto;
}
